<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('文章列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>标题：</p>
                                <input type="text" name="title"/>
                            </li>
<!--                            <li>-->
<!--                                <p>内容：</p>-->
<!--                                <input type="text" name="content"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>轮播图：</p>-->
<!--                                <input type="text" name="courseImg"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>缩略图：</p>-->
<!--                                <input type="text" name="image"/>-->
<!--                            </li>-->
                            <li>
                                <p>标签：</p>
                                <input type="text" name="tags"/>
                            </li>
                            <li>
                                <p>展示方式：</p>
                                <select name="type" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option value="0">不展示</option>
                                    <option value="1">首页轮播</option>
                                    <option value="2">首页推荐</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="promote:article:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="promote:article:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="promote:article:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="promote:article:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('promote:article:edit')}]];
        var removeFlag = [[${@permission.hasPermi('promote:article:remove')}]];
        var prefix = ctx + "promote/article";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "文章",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'title', 
                    title : '标题'
                },
                // {
                //     field : 'content',
                //     title : '内容'
                // },
                // {
                //     field : 'courseImg',
                //     title : '轮播图'
                // },
                {
                    field : 'image', 
                    title : '缩略图',
                    formatter: function(value, row, index) {
                        if(value) {
                            return `<img src="${value}" style="height: 100px;"></img>`;
                        } else {
                            return '未上传图片';
                        }
                    }
                },
                {
                    field : 'tags', 
                    title : '标签'
                },
                {
                    field : 'type', 
                    title : '展示方式',
                    formatter: function(value, row, index) {
                        switch (value) {
                            case 0: {return '不展示';break;}
                            case 1: {return '首页轮播';break;}
                            case 2: {return '首页推荐';break;}
                            default : return '未定义';break;
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>