<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增小组')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-group-add">
            <input type="hidden" name="groupHeader" id="groupHeader">
            <input type="hidden" name="headerName" id="headerName">
            <input type="hidden" name="headerMobile" id="headerMobile">
            <div class="form-group">
                <label class="col-sm-3 control-label">小组名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">当前小组组长：</label>
                <div class="col-sm-8">
                    <input id="groupHeaderShow" class="form-control" type="text" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">设置组长：</label>
                <div class="col-sm-7">
                    <input id="groupHeaderMobile"  class="form-control" type="text" placeholder="输入手机号查询">
                </div>
                <div class="col-sm-2">
                    <a class="btn" id="confirmHeaderMobile" onclick="javascript:void(0)">查询销售员</a>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "promote/group"
        $("#form-group-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/custom/add", $('#form-group-add').serialize());
            }
        }

        $(function () {
            $('#confirmHeaderMobile').click(function () {
                let mobile =$('#groupHeaderMobile').val();
                Base.Network.post({
                    url : ctx + `promote/salesman/custom/selectByMobile/${mobile}`,
                    successParse:function (data) {
                        if(data) {
                        $('#groupHeaderShow').val(`${data.name} (${data.mobile})`)
                        $('#groupHeader').val(data.id);
                        $('#headerMobile').val(data.mobile);
                        $('#headerName').val(data.name);
                        } else {
                            $.modal.msgError("未检索到符号条件的业务员")
                        }
                    }
                })
            });
        })
    </script>
</body>
</html>