<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改业务员-任务中间')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-linkSalesmanTask-edit" th:object="${salesmanTask}">
            <input name="id" id="id" th:field="*{id}" type="hidden">
            <input name="taskId" id="taskId" th:field="*{taskId}" type="hidden">

            <div class="form-group">
                <label class="col-sm-3 control-label">任务：</label>
                <div class="col-sm-8">
                    <input  id="taskIdShow"  class="form-control" type="text" required disabled="true">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">任务员对应专属code：</label>
                <div class="col-sm-8">
                    <input name="code" th:field="*{code}" class="form-control" type="text" disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">檢索业务员：</label>
                <div class="col-sm-2">
                    <input id="salesanNameInput" class="form-control" type="text" placeholder="业务员姓名">
                </div>
                <a id="searchSalesman" class="btn btn-info col-sm-2" href="javascript:void(0);">检索</a>
                <div class="col-sm-4">
                    <select class="form-control m-b" id="salesmanSelect" name="salesmanId" required>
                        <option value="">==请检索==</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "promote/linkSalesmanTask";
        $("#form-linkSalesmanTask-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                Base.Network.post({
                    url:ctx+'promote/linkSalesmanTask/custom/assignCode',
                    data:{
                        id:$('#id').val(),
                        taskId:$('#taskId').val(),
                        salesmanId:$('#salesmanSelect').val(),
                    },
                    contentType:'application/json',
                    successParse:function (data) {
                        $.modal.close();
                        parent.$.modal.msgSuccess('操作成功');
                        parent.$.table.refresh();
                    }
                })
            }
        }

        $("input[name='rewardBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='rewardStopTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function () {
            let taskList = [];
            let salesmanList = [];

            $('#searchSalesman').click(function () {
                let list = salesmanList;
                let name = $('#salesanNameInput').val()
                if (Bee.StringUtils.isNotBlank(name)) {
                    list = list.filter(item => {
                        return Bee.StringUtils.contains(item.name, name)
                    })
                }
                let str = '<option value="">---请选择业务员---</option>';
                for (let i = 0; i < list.length; i++) {
                    str += `<option value="${list[i].id}">${list[i].name}</option>`
                }
                $('#salesmanSelect').empty();
                $('#salesmanSelect').append($(str));
            });

            Base.Network.post({
                url: ctx + 'promote/task/custom/get/'+$('#taskId').val(),
                successParse: function (data) {
                    console.info(data)
                    $('#taskIdShow').val(data.name)
                }
            });
            Base.Network.post({
                url: ctx + 'promote/linkSalesmanTask/custom/list',
                successParse: function (data) {
                    taskList = data.taskList;
                    salesmanList = data.salesmanList;
                }
            })
        })
    </script>
</body>
</html>