<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('业务员任务领取记录列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>业务员：</p>
                            <div class="input-group">
                                <input type="text" class="form-control" name="salesmanId" id="bsSuggestSalesman">
                                <div class="input-group-btn">
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                        <p>任务：</p>
                        <select id="taskSelect" name="taskId">
                            <option value="">==请检索==</option>
                        </select>
                        </li>
                        <li>
                        <p>状态：</p>
                            <select name="status">
                                <option value="">请选择</option>
                                <option value="1">审核中</option>
                                <option value="2">审核通过</option>
                                <option value="3">审核拒绝</option>
                            </select>
                        </li>
                        <li>
                            <p>CODE：</p>
                            <input type="text" name="code"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary single disabled" onclick="assignCode()" shiro:hasPermission="promote:linkSalesmanTask:edit">
            <i class="fa fa-edit"></i> 审核通过并分配CODE
            </a>
            <a class="btn btn-warning multiple disabled" onclick="verifyFail()"
               shiro:hasPermission="promote:linkSalesmanTask:remove">
                <i class="fa "></i> 审核拒绝并回收CODE
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-suggest-js" />
<th:block th:include="include :: bootstrap-typeahead-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('promote:linkSalesmanTask:edit')}]];
    var removeFlag = [[${@permission.hasPermi('promote:linkSalesmanTask:remove')}]];
    var prefix = ctx + "promote/linkSalesmanTask";

    function assignCode() {
        var row = $.btTable.bootstrapTable('getSelections')[0];
        if(Bee.StringUtils.isNotBlank(row.code)) {
            $.modal.msgError("此CODE已分配");
            return;
        }
        let url = ctx +"promote/linkSalesmanTask/custom/assign/code/"+row.id;
        $.modal.open("修改" + $.table._option.modalName,url);
    };

    function verifyPass() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要审核通过" + rows.length + "条数据吗?", function () {
            Base.Network.post({
                url: ctx + 'promote/linkSalesmanTask/custom/pass',
                data: {"ids": rows.join()},
                successParse: function (data) {
                    $.modal.msgSuccess("操作成功");
                    $.table.refresh();
                }
            })
        });
    };

    function verifyFail() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要审核拒绝" + rows.length + "条数据吗?", function () {
            Base.Network.post({
                url: ctx + 'promote/linkSalesmanTask/custom/fail',
                data: {"ids": rows.join()},
                successParse: function (data) {
                    $.modal.msgSuccess("操作成功");
                    $.table.refresh();
                }
            })
        });
    };

    $(function () {
        let taskList = [];
        let salesmanList = [];
        var options = {
            url: prefix + "/custom/selectSalesmanTaskList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "业务员任务领取记录",
            sortName:'createTime',
            sortOrder:'desc',
            pageSize:50,
            pageList:[50,100],
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'taskId',
                    title: '任务',
                    formatter: function (value, row, index) {
                        let task = taskList.filter(item => item.id === value)[0]
                        if (task) {
                            return task.name;
                        } else {
                            return value;
                        }
                    }
                },
                {
                    field: 'salesmanId',
                    title: '业务员',
                    formatter: function (value, row, index) {
                        let salesman = salesmanList.filter(item => item.id === value)[0]
                        if (salesman) {
                            return salesman.name;
                        } else {
                            return value;
                        }
                    }
                },
                {
                    field: 'code',
                    title: '业务员CODE'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        switch (value) {
                            case 0:
                                return '未申请';
                                break;
                            case 1:
                                return '审核中';
                                break;
                            case 2:
                                return '审核通过';
                                break;
                            case 3:
                                return '审核拒绝';
                                break;
                        }
                    }
                },
                {
                    field: 'type',
                    title: 'code状态',
                    formatter: function (value, row, index) {
                        switch (value) {
                            case 0:
                                return '未使用';
                                break;
                            case 1:
                                return '正在使用';
                                break;
                            case 2:
                                return '已停用';
                                break;
                            case 3:
                                return '可以使用';
                                break;
                        }
                    }
                },
                {
                    field : 'createTime',
                    title : '创建时间',
                    formatter: function(value, row, index) {
                        return Bee.StringUtils.isBlank(value) ? '-' :  value.replace("T"," ");
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(Bee.StringUtils.isBlank(row.code)) {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        return actions.join('');
                    }
                }
            ]
        };

        Base.Network.post({
            url: ctx + 'promote/linkSalesmanTask/custom/list',
            successParse: function (data) {
                taskList = data.taskList;
                salesmanList = data.salesmanList;
                $.table.init(options);
                let str = '<option value="">---请选择任务---</option>';
                for (let i = 0; i < taskList.length; i++) {
                    str += `<option value="${taskList[i].id}">${taskList[i].name}</option>`
                }
                $('#taskSelect').empty();
                $('#taskSelect').append($(str));

                $("input#bsSuggestSalesman").bsSuggest({
                    data:{
                        value:salesmanList,
                    },
                    idField:'id',
                    keyField:'id',
                    effectiveFields:['id','name'],
                }).on('onSetSelectValue', function (e, selectedData, selectedRawData) {
                });
            }
        })
    });
</script>
</body>
</html>