<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改任务')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-task-edit">
        <input id="ids" th:value="${ids}" type="hidden">

        <div class="form-group">
            <label class="col-sm-3 control-label">开始时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="startTime" class="form-control datetimepickerInput" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input id="endTime" class="form-control datetimepickerInput" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-2">
                <a class="btn btn-info" href="javascript:void(0);" onclick="queryDataChoose()">查询选中</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-info" href="javascript:void(0);" onclick="queryDataAll()">查询全部</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-info" href="javascript:void(0);" onclick="dataDownChoose()">下载选中</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-info" href="javascript:void(0);" onclick="dataDownAll()">下载全部</a>
            </div>
        </div>
    </form>

    <div style="margin-top: 30px;margin-bottom: 50px;">
        <table border="1" class="col-sm-12 " align="center" id="dataDiv">
            <tr id="taskTr">
            </tr>
            <tr id="tipTr"></tr>
        </table>
    </div>

</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "promote/task";
    $("#form-task-edit").validate({
        focusCleanup: true
    });
    $(".datetimepickerInput").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true,
    });

    function dataDownChoose() {
        let primaryUrl = 'dataDown';
        dataDown(primaryUrl);
    }
    function dataDownAll() {
        let primaryUrl = 'dataDownAll';
        dataDown(primaryUrl);
    }
    function dataDown(primaryUrl) {
        let ids = $('#ids').val();
        let startTime = $('#startTime').val();
        let endTime = $('#endTime').val();
        let url = `promote/salesman/custom/${primaryUrl}?ids=${ids}&startTime=${startTime}&endTime=${endTime}`
        window.location.href = ctx + url;
    }

    function submitHandler() {
        $.modal.close();
    }

    function queryDataChoose() {
        let url = ctx + 'promote/salesman/custom/querySalesmanReward'
        queryData(url);
    }
    function queryDataAll() {
        let url = ctx + 'promote/salesman/custom/querySalesmanRewardAll'
        queryData(url);
    }
    function queryData(url) {
        Base.Network.post({
            url: url,
            data: {
                ids: $('#ids').val().split(","),
                startTime: $('#startTime').val() + " 00:00:00",
                endTime: $('#endTime').val() + " 23:59:59",
            },
            contentType: 'application/json',
            successParse: function (data) {
                let taskList = data.taskList;
                let trList = data.trList;

                let taskStr = "<td>业务类型</td>";
                let tipStr = "<td>业务员姓名</td>";
                for (let i = 0; i < taskList.length; i++) {
                    taskStr += ` <td colspan="2">${taskList[i].name}</td>`
                    tipStr += " <td>数量</td><td>佣金</td>";
                }

                taskStr += "<td></td>";
                tipStr += "<td>总业绩</td>";
                $('#taskTr').empty();
                $('#taskTr').append($(taskStr))

                $('#tipTr').empty();
                $('#tipTr').append($(tipStr))

                let trStr = '';
                for (let j = 0; j < trList.length; j++) {
                    let trAppend = "<tr class='dataTr'>";
                    trAppend += `<td>${trList[j].userName}</td>`;
                    for (let i = 0; i < taskList.length; i++) {
                        let num = trList[j].list.filter(item => item.taskId === taskList[i].id).map(item => item.num)[0];
                        let reward = trList[j].list.filter(item => item.taskId === taskList[i].id).map(item => item.reward)[0];
                        trAppend += `<td>${num}</td>`;
                        trAppend += `<td>${reward}</td>`;
                    }
                    trAppend += `<td>${trList[j].allSum}</td></tr>`;
                    trStr += trAppend;
                }
                $('.dataTr').remove();
                $('#dataDiv').append($(trStr))
            }
        })
    }

    $(function () {
        var datetime = new Date();
        var year = datetime.getFullYear();
        var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
        var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();

        $('.datetimepickerInput').val(year + '-' + month + '-' + date)
        queryDataChoose();
    })
</script>
</body>
</html>