<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改京东联合拉新数据')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dataJd-edit" th:object="${dataJd}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">记录时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="recordTime" th:value="${#dates.format(dataJd.recordTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务链接内部ID：</label>
                <div class="col-sm-8">
                    <input name="taskInnerId" th:field="*{taskInnerId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务链接：</label>
                <div class="col-sm-8">
                    <input name="taskUrl" th:field="*{taskUrl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单号：</label>
                <div class="col-sm-8">
                    <input name="orderNo" th:field="*{orderNo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务名称：</label>
                <div class="col-sm-8">
                    <input name="orderName" th:field="*{orderName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">一级渠道：</label>
                <div class="col-sm-8">
                    <input name="channelFirst" th:field="*{channelFirst}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">下游渠道来源：</label>
                <div class="col-sm-8">
                    <input name="channelBelowSource" th:field="*{channelBelowSource}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">打卡是否有效 0-否 1-是：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="checkStatus" value="">
                        <label th:for="checkStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">打卡失效原因：</label>
                <div class="col-sm-8">
                    <input name="checkReason" th:field="*{checkReason}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户参与京东pin：</label>
                <div class="col-sm-8">
                    <input name="joinJdPin" th:field="*{joinJdPin}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户参与推广链接：</label>
                <div class="col-sm-8">
                    <input name="joinLink" th:field="*{joinLink}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户参与时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="joinTime" th:value="${#dates.format(dataJd.joinTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户参与订单号：</label>
                <div class="col-sm-8">
                    <input name="joinOrder" th:field="*{joinOrder}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条开通 pin：</label>
                <div class="col-sm-8">
                    <input name="openJdCreditPin" th:field="*{openJdCreditPin}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条开通链接：</label>
                <div class="col-sm-8">
                    <input name="openJdCreditUrl" th:field="*{openJdCreditUrl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条开通时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="openJdCreditTime" th:value="${#dates.format(dataJd.openJdCreditTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条开通方式 0-普通开白条 1-小金库白条：</label>
                <div class="col-sm-8">
                    <select name="openJdCreditType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条首单订单号：</label>
                <div class="col-sm-8">
                    <input name="jdCreditFirstOrderNo" th:field="*{jdCreditFirstOrderNo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条首单pin：</label>
                <div class="col-sm-8">
                    <input name="jdCreditFirstOrderPin" th:field="*{jdCreditFirstOrderPin}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条首单交易时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="jdCreditFirstOrderTime" th:value="${#dates.format(dataJd.jdCreditFirstOrderTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条首单推广链接：</label>
                <div class="col-sm-8">
                    <input name="jdCreditFirstOrderUrl" th:field="*{jdCreditFirstOrderUrl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行+订单号：</label>
                <div class="col-sm-8">
                    <input name="bankAndOrderNo" th:field="*{bankAndOrderNo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行+pin：</label>
                <div class="col-sm-8">
                    <input name="bankAndPin" th:field="*{bankAndPin}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行+入金金额：</label>
                <div class="col-sm-8">
                    <input name="bankAndIncomeMoney" th:field="*{bankAndIncomeMoney}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行+入金时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="bankAndIncomeTime" th:value="${#dates.format(dataJd.bankAndIncomeTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行+推广链接：</label>
                <div class="col-sm-8">
                    <input name="bankAndPromoteUrl" th:field="*{bankAndPromoteUrl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户参与与白条首单时间差：</label>
                <div class="col-sm-8">
                    <input name="joinedFirstOrderWithJdCreditTimeDifference" th:field="*{joinedFirstOrderWithJdCreditTimeDifference}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户参与与银行+入金时间差：</label>
                <div class="col-sm-8">
                    <input name="joinedFirstOrderWithBankIncomeTimeDifference" th:field="*{joinedFirstOrderWithBankIncomeTimeDifference}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白条开通首单是否同日 0-否 1-是：</label>
                <div class="col-sm-8">
                    <input name="jdCreditOpenOneDay" th:field="*{jdCreditOpenOneDay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">新手礼包操作时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="newbiePackageOperTime" th:value="${#dates.format(dataJd.newbiePackageOperTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">新手礼包pin：</label>
                <div class="col-sm-8">
                    <input name="newbiePackagePin" th:field="*{newbiePackagePin}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">新手礼包链接ID：</label>
                <div class="col-sm-8">
                    <input name="newbiePackageUrlId" th:field="*{newbiePackageUrlId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">新手礼包操作结果 0-fail 1-success：</label>
                <div class="col-sm-8">
                    <input name="newbiePackageResult" th:field="*{newbiePackageResult}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">金条贷款订单号：</label>
                <div class="col-sm-8">
                    <input name="jdGoldOrderNo" th:field="*{jdGoldOrderNo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">金条是否首次贷款 0:否 1:是：</label>
                <div class="col-sm-8">
                    <input name="jdGoldIsFirst" th:field="*{jdGoldIsFirst}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">金条贷款完成时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="jdGoldConfirmTime" th:value="${#dates.format(dataJd.jdGoldConfirmTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">新手礼包海帆奖励Id：</label>
                <div class="col-sm-8">
                    <input name="jdNewHandRewardId" th:field="*{jdNewHandRewardId}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "promote/dataJd";
        $("#form-dataJd-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-dataJd-edit').serialize());
            }
        }

        $("input[name='recordTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='joinTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='openJdCreditTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='jdCreditFirstOrderTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='bankAndIncomeTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='newbiePackageOperTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='jdGoldConfirmTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>