<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改任务')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-task-edit" >
        <input id="taskId" th:value="${task.id}" type="hidden">
        <input id="prefix" field="*{prefix}" type="hidden">

        <div class="form-group">
            <label class="col-sm-3 control-label">总数：</label>
            <div class="col-sm-3">
                <input class="form-control keyInput" type="text" id="allNum" disabled="true" th:value="${allNum}">
            </div>
            <label class="col-sm-3 control-label">已使用：</label>
            <div class="col-sm-3">
                <input class="form-control keyInput" type="text" id="usedNum" disabled="true" th:value="${usedNum}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">未使用：</label>
            <div class="col-sm-3">
                <input class="form-control keyInput" type="text" disabled="true" th:value="${unusedNum}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">CODE值：</label>
            <div class="col-sm-3">
                <input class="form-control keyInput" id="inputCode" type="text" placeholder="输入CODE">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "promote/task";
    $("#form-task-edit").validate({
        focusCleanup: true
    });
    function PrefixInteger(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }

    function submitHandler() {
        let param = {
            taskId : $('#taskId').val(),
            num : $('#num').val(),
            allNum : $('#allNum').val(),
            inputCode : $('#inputCode').val(),

        }
        Base.Network.post({
            url:ctx+'promote/task/custom/setCode',
            data:param,
            contentType:'application/json',
            successParse:function (data) {
                $.modal.close();
                parent.$.modal.msgSuccess('操作成功');
                parent.$.table.refresh();
            }
        })
    }
</script>
</body>
</html>