<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('任务列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>任务名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>标签：</p>
                                <input type="text" name="tags"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="promote:task:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="promote:task:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-warning" onclick="setParam()" shiro:hasPermission="promote:task:edit">
                    <i class="fa"></i> 配置参数
                </a>
                <a class="btn btn-info" onclick="receiveTask()" shiro:hasPermission="promote:task:edit">
                    <i class="fa"></i> 任务领取
                </a>
                <a class="btn btn-info" onclick="changeHiddenVal(0)" shiro:hasPermission="promote:salesman:export">
                    上架
                </a>
                <a class="btn btn-info" onclick="changeHiddenVal(1)" shiro:hasPermission="promote:salesman:export">
                    下架
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('promote:task:edit')}]];
        var removeFlag = [[${@permission.hasPermi('promote:task:remove')}]];
        var prefix = ctx + "promote/task";

        function changeHiddenVal(val) {
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            console.info(rows)
            Base.Network.post({
                url: ctx + "promote/task/custom/changeHiddenVal",
                data: {
                    ids: rows,
                    val: val,
                    endTime: $('#endTime').val() + " 23:59:59",
                },
                contentType: 'application/json',
                successParse: function (data) {
                    console.info(data)
                    $.table.refresh();
                }
            })
        }


        function setCode(id){
            $.modal.open("配置code" + $.table._option.modalName, ctx+'promote/task/custom/code/'+id);
        }
        function setParam() {
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if (rows.length !== 1) {
                $.modal.alertWarning("请选择一条记录");
                return;
            }
            $.modal.open("配置参数" + $.table._option.modalName, ctx+'promote/task/custom/param/'+rows[0]);
        };

        function receiveTask() {
            var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            if (rows.length !== 1) {
                $.modal.alertWarning("请选择一条记录");
                return;
            }
            $.modal.open("任务领取" + $.table._option.modalName, ctx+'promote/task/custom/receiveTask/'+rows[0]);
        };
        $(function() {
            let taskList = [];
            let salesmanList = [];

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "任务",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id',
                    title : 'id',
                    visible: false,
                },
                {
                    field : 'name',
                    title : '任务名称',
                    width:200,
                },
                    {
                        field : 'image',
                        title : '缩略图',
                        formatter: function(value, row, index) {
                            return $.table.imageView(value);
                        }
                    },
                    {
                        field : 'tags',
                        title : '标签 ',
                        width:220,
                    },
                {
                    field : 'prefix',
                    title : '任务链接前缀',
                    width:400,
                },
                {
                    field : 'reward',
                    title : '奖励额',
                    width:150,
                    formatter: function(value, row, index) {
                        if(row.assignType === 1) {
                            return '京东多级奖励';
                        } else {
                            return value;
                        }
                    }
                },
                {
                    field : 'articleTitle',
                    title : '推广攻略文章',
                    width:250,
                },
                {
                    field : 'priority',
                    title : '优先级'
                },
                    {
                        field : 'isHidden',
                        title : '下架/隐藏',
                        formatter: function(value, row, index) {
                            if (value == 1) {
                                return '是'
                            } else {
                                return '否'
                            }
                        }
                    },
                {
                    title: '操作',
                    align: 'center',
                    width:300,
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="setCode(\'' + row.id + '\')"><i class="fa fa-edit"></i>CODE</a> ');
                        return actions.join('');
                    }
                }]
            };

            Base.Network.post({
                url: ctx + 'promote/linkSalesmanTask/custom/list',
                successParse: function (data) {
                    taskList = data.taskList;
                    salesmanList = data.salesmanList;
                    $.table.init(options);
                }
            })
        });
    </script>
</body>
</html>